$cat-nav-height: 100px;
$cat-nav-border-color: #ddd;

.cat-nav {
    display: block;
    z-index: 1;
    margin-top: -$cat-nav-height /2;
    height: $cat-nav-height;
    background-color: white;
    border-radius: $cat-nav-height /8;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.35);
    overflow: hidden;
}

.cat-nav .nav-item {
    border-left: 1px solid $cat-nav-border-color;
}

.cat-nav .nav-item a.nav-link {
    padding: unset;
}

.cat-nav .nav-item a.active {
    border-bottom: #f98521 2px solid;
}

.cat-nav .nav-item:hover {
    background-color: #ddd;
}

.cat-nav .nav-item a .cat-item {
    text-align: center;
}

.cat-nav .nav-item .cat-label {
    width: fit-content;
    margin: auto;
}

.cat-nav .nav-item:first-child {
    border-left: none;
}