

$top-search-bar-radius: 20px;

.top-nav .brand-name {
  font-size: x-large;
  font-weight: 700;
  font-family: "Average", serif;
}



.top-nav .search-bar {
  border-radius: $top-search-bar-radius;
  background-color: white;
}

.top-nav .search-bar input {
  border-radius: $top-search-bar-radius;
  background-color: transparent;
  border-right: none;
  padding: 20px;
  transition: none;
  border-color: transparent;
}

.top-nav .search-bar input:focus,
.top-nav .search-bar button:focus,
.top-nav .search-bar button:active,
.top-nav .search-bar button:active:focus {
  box-shadow: none !important;
  outline: 0 none !important;
  border: none !important;
  transition: none;
}

.top-nav .search-bar:focus-within {
  border-radius: $top-search-bar-radius;
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.5);
}

.top-nav .search-bar:focus-within button {
  border: none;
  transition: none;
  box-shadow: none;
}

.top-nav .search-bar:focus-within input {
  border: none;
  transition: none;
  box-shadow: none;
}

.top-nav .search-bar button {
  border-radius: $top-search-bar-radius;
  background-color: transparent;
  color: #aaa;
  border-left: none;
  padding-left: 15px;
  padding-right: 15px;
  //border-color: #ced4da;
  transition: none;
}

p.body:hover {
  opacity: 0.5;
}
