.search-result {
    margin-top: 20px;
}
.search-result .card {
    display: flex;

}

.search-result .center-content {
    position: fixed;
    top: 50%;
    left: 0px;
    right: 0px;
    text-align: center;
}

.search-result .not-found {
    margin-top: 50px;
    text-align: center;
}

.search-result .card img {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}