@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css?family=Average&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Public+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rosario&display=swap');
@import "~bootstrap/scss/variables";

.bg-trans {
  background-color: transparents !important;
}

.jumbotron {
  background: none;
}

a {
  color: black;
  &:hover {
    text-decoration: none;
  }
}

.btn {
  border-radius: 12px;
}

.head {
  display: block;
  //position: relative;
  background-image: url("./images/back.jpg");
  background-size: auto;
  z-index: 0;
}

.banner {
  display: block;
  position: relative;
  z-index: 0;
}

.model {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-image: url("./images/a.png");
  z-index: -1;
  content: "";
}

.home-content {

  padding: 40px 0px;
}

.home-content h4 {
  background: linear-gradient(45deg, #ffffff, transparent);
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  border-left: solid 2px black;
  font-size: large;
  font-weight: 700;
}

h1 {
  font-weight: 600;
}

body {
  margin: 0;
  font-family: "Rosario", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  background-color: #CE9743;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
