@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Average&display=swap');
@import "~bootstrap/scss/variables";


.bg-trans {
  background-color: transparents !important;
}

.jumbotron {
  background: none
}

a {
  color: black;
  &:hover {
    text-decoration: none;
  }
}

.btn {
  border-radius: 12px;
}

.head {
  display: block;
  //position: relative;
  background-image: url('./images/back.jpg');
  background-size: auto;
  z-index: 0;
}

.banner {
  display: block;
  position: relative;
  z-index: 0;
}

.model {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-image: url('./images/a.png');
  z-index: -1;
  content: '';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


